.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}

.sidenav-container {
  flex: 1;
  display: flex;
  height: 100%;
}

mat-sidenav {
  width: 250px;
  background: #f9f9f9;
  border-right: 1px solid #ddd;
overflow-x: hidden;
}

/* Responsive behavior */
.is-mobile mat-sidenav {
  width: 200px;
}

.mat-drawer-inner-container {
  scrollbar-width: none; /* Firefox */
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none; /* Chrome */
}