<div class="flex flex-col select-none ">

    <!-- Nodo -->
    <div [routerLink]="node.link"
        class="flex items-center gap-2 py-1 px-2 cursor-pointer rounded-md hover:opacity-70 transition-all"
        (click)="toggleExpand()">
        @if (node.icon) {
        <span class="material-icons w-6 h-6 text-white">
            {{ node.icon }}
        </span>
        }
        <app-theme-text variant="subtitle" tagName="h2" class="text-white">
            {{ node.name }}
        </app-theme-text>

        @if (node.children?.length) {
        <span class="material-icons ml-auto text-gray-500 text-xs">
            {{ expanded() ? 'expand_less' : 'expand_more' }}
        </span>
        }
    </div>

    <!-- Subnodos -->
    <div [class.max-h-0]="!expanded()" [class.max-h-[500px]]="expanded()"
        class="pl-4 border-l border-gray-200 overflow-hidden transition-[max-height] duration-300 ease-in-out">
        @if (node.children?.length) {
        @for (child of node.children; track child.name) {
        <app-menu-items [node]="child"></app-menu-items>
        }
        }
    </div>
</div>