@if (phrasesService.query.isPending()) {
<app-progress-spinner />
} @else if (phrasesService.query.error()) {
<div class="text-red-500 font-semibold">
    An error has occurred: {{ phrasesService.query.error()?.message }}
</div>
} @else {
<app-screen-header title="Frases" [showCreate]="true" [showImport]="true" [showExport]="true"/>
<app-table-layout [headers]="a">
    <ng-container tableBody>
        @for (phrase of phrasesService.query.data()?.phrases; track phrase.id) {
        <tr class="border-b border-neutral-300">
            <td appTableRow>
                <app-theme-text variant="label" class="text-[#101828] font-medium"> {{ phrase.id }}</app-theme-text>
            </td>
            <td appTableRow>
                <app-theme-text variant="label" class="text-[#101828] font-medium"> {{ phrase.text }}</app-theme-text>
            </td>
            <td appTableRow>
                <color-box [color]="phrase.color"></color-box>
            </td>
            <td appTableRow>
                <app-theme-text variant="label" class="text-[#101828] font-medium"> {{
                    phrase.updatedAt.toLocaleDateString()}}
                </app-theme-text>
            </td>
        </tr>
        }
    </ng-container>
</app-table-layout>

<mat-paginator [length]="phrasesService.totalItems()" [pageSize]="phrasesService.limit()"
    (page)="phrasesService.onPageChange($event)" [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Seleccionar página">
</mat-paginator>

}